<div class="menu menu-1">
  <a routerLink="/">
    <button></button>
  </a>
</div>
<!-- 3 -->
<section id="seccion-1">
<button id="on" class="button-on" (click)="play()" >on</button>
<img src="./assets/testinteractivo/1.jpg" alt="">
</section>
<section id="seccion-2">
<img src="./assets/testinteractivo/2.jpg" alt="">
</section>
<section id="seccion-3">
<img src="./assets/testinteractivo/3.jpg" alt="">
</section>
<section id="seccion-4">
<img src="./assets/testinteractivo/4.jpg" alt="">
</section>
<section id="seccion-5">
<img src="./assets/testinteractivo/5.jpg" alt="">
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./script/script.js"></script>