<header class="container img-background relative flex center-x-y">
  <div class="menu menu-1">
    <a routerLink="/">
      <button></button>
    </a>
    <a href="/#art">ACERCA DE LA CREACIÓN</a>
    <a href="/#acerca">ENLACE CIENCIA-ARTE</a>
  </div>

  <div class="info-m flex center-x-y center-x-evenly">
   <button>1 min</button>
   <p class="flex center-y">Visualiza el impacto de la contaminación acústica en los ecosistemas a través de una experiencia inversiva que revela el paisaje sonoro de estos.</p>
   <button>3 min</button>
  </div>

</header>

<app-footer></app-footer>