<header class="container img-background relative">
  <div class="menu menu-1">
    <a href="./index.html">
      <button></button>
    </a>
    <a href="#art">ACERCA DE LA CREACIÓN</a>
    <a href="#acerca">ENLACE CIENCIA-ARTE</a>
  </div>

  <div class="info-m">
    <h1>Biofonía</h1>
    <p>Concientizar y visibilizar el impacto de la contaminación acústica en los ecosistemas marinos y bosques templados</p>
    <div class="empresas">
      <figure class="logo-container flash-act">
        <img src="./assets/logos/Logo1.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container">
        <img src="./assets/logos/Logo2.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container">
        <img src="./assets/logos/Logo3.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container">
        <img src="./assets/logos/Logo4.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container centro-cultural">
        <img src="./assets/logos/Logo5.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container">
        <img src="./assets/logos/Logo6.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container">
        <img class="object-fit-cover" src="./assets/logos/Logo7.png" alt="logo de patrocinadores">
      </figure>
    </div>
  </div>

  <div class="menu menu-2">
    <a routerLink="/sound" routerLinkActive="active"><img src="./assets/iconos/icons8-ballena-60.png" alt=""></a>
    <a routerLink="/video" routerLinkActive="active"><img src="./assets/iconos/icons8-realidad-virtual-50.png" alt=""></a>
    <a routerLink="/experiencia" routerLinkActive="active"><img src="./assets/iconos/icons8-raton-52.png" alt=""></a>
  </div>
</header>

<section class="container container-h-auto center-x-y flex-colum" id="acerca">
  <div class="flex flex-two description center-y">
    <img src="./assets/imagenes/Imagen2.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut exercitationem hic aliquid nesciunt, ab laborum consequuntur animi nulla voluptatibus corporis tenetur quasi rem vitae itaque nobis eius tempore ratione!</p>
  </div>
  <div class="flex flex-two description center-y">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut exercitationem hic aliquid nesciunt, ab laborum consequuntur animi nulla voluptatibus corporis tenetur quasi rem vitae itaque nobis eius tempore ratione!</p>
    <img src="./assets/imagenes/Imagen2.jpg" alt="">
  </div>
</section>

<section class="container center-x-y" id="art">
  <div class="content-all flex flex-colum center-x-y">
    <h2 class="margin-bottom-super-small">Making of</h2>
    <iframe src="https://www.youtube-nocookie.com/embed/GJaTAv-07IQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<app-footer></app-footer>