<footer class="container-h-auto">
  <div class="gracias margin-bottom-medium">
    <h3>Proyecto creado gracias a:</h3>
    <div class="empresas empresas-big margin-bottom-small">
      <figure class="logo-container logo-big flash-act">
        <img src="./assets/logos/Logo1.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big">
        <img src="./assets/logos/Logo2.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big">
        <img src="./assets/logos/Logo3.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big">
        <img src="./assets/logos/Logo4.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big centro-cultural">
        <img src="./assets/logos/Logo5.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big">
        <img src="./assets/logos/Logo6.png" alt="logo de patrocinadores">
      </figure>
      <figure class="logo-container logo-big">
        <img src="./assets/logos/Logo7.png" alt="logo de patrocinadores">
      </figure>
    </div>

    <div class="container-equipo flex center-x-evenly margin-bottom-small">

      <div class="equipo-item flex center-y">
        <figure class="logo-container equipo-img-container">
          <img src="./assets/equipo/Brenda.jpg" alt="">
        </figure>
        <div class="equipo-name">
          <p><b>Brenda Romero Baez</b></p>
          <p>Diseno Sonoro</p>
        </div>
      </div>

      <div class="equipo-item flex center-y">
        <figure class="logo-container equipo-img-container">
          <img src="./assets/equipo/Chris.jpg" alt="">
        </figure>
        <div class="equipo-name">
          <p><b>Christian Alberto Padilla Negrete</b></p>
          <p>Tesorero Diseno Sonoro</p>
        </div>
      </div>
      <div class="equipo-item flex center-y">
        <figure class="logo-container equipo-img-container">
          <img src="./assets/equipo/Luisa.jpg" alt="">
        </figure>
        <div class="equipo-name">
          <p><b>Maria Luisa Salinas Vargas</b></p>
          <p>Desarollo Web</p>
        </div>
      </div>
      <div class="equipo-item flex center-y">
        <figure class="logo-container equipo-img-container">
          <img src="./assets/equipo/Camila.jpeg" alt="">
        </figure>
        <div class="equipo-name">
          <p><b>Camila Luna</b></p>
          <p>Lider de equipo</p>
        </div>
      </div>
    </div>
  </div>
</footer>